/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding-top: 75px; }

.mat-typography {
  font: size 17px; 
    letter-spacing: .0178571429em;
}
.mat-button,
.mat-card,
.mat-dialog,
.mat-form-field {
   font-size: 15px;
}

.mat-h6, .mat-typography .mat-h6, .mat-typography h6 {
    /* font: 400 calc(14px* .67) / 20px Roboto, sans-serif; */
    color: black;
    font-size: 1rem;
    margin: 0 0 12px;

}

.mat-h5, .mat-typography .mat-h5, .mat-typography h5 {
   font-size: 1rem;
   color: black;
    margin: 0 0 12px;
}